/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! For example - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

 .MMM-EOL .header {
  background: #FF33DD;
  color: #030002;               /* Color the title text. Default is white. */
  text-align: center;           /* Align the title text. (left, center, right) */
}

.MMM-EOL .title {
 background: #F7FB08;
  color: #8508FB;               /* Color the title text. Default is white. */
  text-align: center;           /* Align the title text. (left, center, right) */
  /*  display: none; */         /* Uncomment if you don't want title text */
}
 
 .MMM-EOL .photo {
  width: 100%;                  /* adjust size of picture */
  height: 20px;                /* adjust size of picture */
  margin-left: 10px;             /* Precisely align picture with these */
  margin-right: 20px;
  margin-top: 330px;
  margin-bottom: 30px;
  float: center;
}

.MMM-EOL .description {
 background: #08F4FB;
  color: #FFFFFF;               /* Color the description text. Default is white. */
  text-align: left;           /* Align the description text. (left, center, right) */
  /*  display: none; */         /* Uncomment if you don't want description text */
}

.MMM-EOL .location {
  color: #8F79F3;               /* Color the location. Default is white. */
  text-align: right;           /* Align the location. (left, center, right) */
/*  display: none; */           /* Uncomment if you don't want location */
}

